/* Início
   =================== */
  
@charset "UTF-8";

* { margin: 0; padding: 0; }

.centro { text-align: center; }
.clear { clear: both; }

html { height: 100%; }

img { max-width: 100%; }

a:link  { color: #333; text-decoration: none; }
a:visited { color: #333; text-decoration: none; }
a:hover  { color: #000; text-decoration: none; }

@font-face {
  font-family: 'SegoBold';
  src: url('fontes/segoeuib.eot');
  src: url('fontes/segoeuib.eot?#iefix') format('embedded-opentype'),
       url('fontes/segoeuib.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoNormal';
  src: url('fontes/seguisym.eot');
  src: url('fontes/seguisym.eot?#iefix') format('embedded-opentype'),
       url('fontes/seguisym.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoMedium';
  src: url('fontes/segoeuil.eot');
  src: url('fontes/segoeuil.eot?#iefix') format('embedded-opentype'),
       url('fontes/segoeuil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ttm';
  src: url('fontes/tt1159m_.eot');
  src: url('fontes/tt1159m_.eot?#iefix') format('embedded-opentype'),
       url('fontes/tt1159m_.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Swis';
	font-weight: normal;
	font-style: normal;
	src: 	url("fontes/Swis721ThBTThin.eot"); /* IE9 */
	src: 	url("fontes/Swis721ThBTThin.eot?#iefix")      format("embedded-opentype"), /* < IE9 */
			url("fontes/Swis721ThBTThin.ttf")             format("truetype"); /* Safari, Android, iOS */
}


body{
	background: #284352;
	height: 100%;
	z-index:0;
	margin:0;
	padding:0;
	font: normal 16px/20px SegoNormal, sans-serif;
}

.body_cadastro {
	background: url(../images/ground_cadastro.jpg) fixed;
}


#pageContent{
	padding:0px;
}


#pageContent header {
	border: #ffffff 10px solid;
	height: 400px;
	top:0; left: 0; right: 0; bottom: 0;
	margin: auto;
	margin-top: auto;
	position:absolute;
	padding:0px;
	background: url(../images/bg_form.jpg);
	font:normal 16px/20px Lekton, sans-serif;
	box-sizing: border-box;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
	width: 400px;
}


#pageContent header figure#logo { 
	width: 90%; 
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

#pageContent header div#login { 
	display: table;
	font-size: 18px;
	margin: auto;
	z-index: 99; 
	text-align: center;
	top: 15px;
	right: 20px;
}

#pageContent header  div#login input { 
	border-radius: 25px;
	color: #2f11db;
	font-family: Lucida Sans, Tahoma, Arial;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#pageContent header  div#login input.submit_ { 
	background: #3da0f7;
	border: #59b1ff 5px solid;
	border-radius: 25px;
	color: #ffffff;
	font-family: SegoMedium;
	font-size: 20px;
	font-weight: normal;
	padding: 6px;
	margin: auto;
	width: 150px;
}

#pageContent header  div#login input.button_ { 
	background: #f4efa8;
	border: none;
	border-radius: 15px;
	color:#514a89;
	font-family: Lucida Sans, Tahoma, Arial;
	font-size: 14px;
	margin-left: 10px;
	padding: 3px;
	width: 25px;
}


/* Área Corpo
   =================== */

   
.divs { margin-left: 40px; }

section#corpo  {
	display: table;
	padding: 0px;
	margin: 0px;
	width: 100%;
}


/* Área Cadastro
   =================== */
   
section#corpo  div#areaCadastro {
	color: #ffffff;
	display: table;
	font-family: SegoNormal;
	width: 100%;
}

section#corpo  div#areaCadastro div#areaCadastroConteudo {
	background: #;
	display: table;
	margin: auto;
	width: 80%;
}

section#corpo  div#areaCadastro div#areaCadastroConteudo h1 {
	font-family: SegoBold;
	font-size: 48px;
}

section#corpo  div#areaCadastro div#areaCadastroConteudo p {
	font: 16px/1.5 SegoNormal, Serif; 
	color: #fffec9; 
	margin: 0 0 30px 0;
}

section#corpo  div#areaCadastro div#TableCadastro {
	width: 470px;
}

section#corpo  div#areaCadastro div#areaCadastroConteudo input.input_ {
				border: #000000 1px solid;
				border-radius: 20px;
				color: #049adb;
				font-size: 20px;
				margin-top: 5px;
				margin-bottom: 15px;
				padding: 10px;
			}

section#corpo  div#areaCadastro div#areaCadastroConteudo input.input2_ {
				border: #000000 1px solid;
				border-radius: 20px;
				color: #049adb;
				font-size: 20px;
				margin-top: 5px;
				margin-bottom: 15px;
				padding: 10px;
			}

/* Área Lembrar Senha
   =================== */

   
section#corpo  div#areaLembrarSenha {
	color: #333333;
	display: table;
	margin: auto;
	margin-top: 80px;
	width: 100%;
}

section#corpo  div#areaLembrarSenha div#areaSenhaConteudo {
	margin: auto;
	text-align: center;
	width: 80%;
}

section#corpo  div#areaLembrarSenha  div#areaSenhaConteudo p {
	font: 16px/1.5 SegoNormal, Serif; 
	color: #333333; 
	margin: 0 0 30px 0;
}

section#corpo  div#areaLembrarSenha div#areaSenhaConteudo h1 {
	color: #0A273D;
	font-family: SegoBold;
	font-size: 48px;
	margin: auto;
}


section#corpo div#carregando {
	background: #ffffff;
	border: #dddddd 10px solid;
	display: none;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 100px;
	height: 60px;
	width: 60px;
	z-index: 100;
}

section#corpo div#carregando figure {
	height: 50px;
	width: 50px;
	margin: auto;
}

section#corpo div#carregando h1 {
	color: #666666;
	font-size: 12px;
	font-family: SegoNormal;
	margin: auto;
}

/* Área Rodapé
   =================== */

   
footer#rodape {
	background: #243F54;
	display: table;
	font-family: SegoNormal;
	padding-top: 30px;
	height: 80px;
	width: 100%;
}

footer#rodape div#rodape-inf {
	background-color: #214866;
	color: #dddddd;
	font-size: 18px;
	padding: 40px;
	text-align: center;
}
