/* 
1200px – Desktops, notebooks com monitores widescreen
***********************************************************/
@media screen and (max-width:1200px){
	
}

/* 
1000px – Desktops, notebooks com monitores widescreen
***********************************************************/
@media screen and (max-width:1030px){
	
}

/* 
960px – Tablets no formato paisagem e alguns monitores mais antigos
***********************************************************/
@media screen and (max-width:960px){

}

/* 
768px – Tablets no formato retrato, como o iPad
***********************************************************/
@media screen and (max-width:768px){

}

/* 
660px – Smartphones no formato paisagem com tela pequena
***********************************************************/
@media screen and (max-width:660px){
	header#cabecalho div#barra { position: relative; background: url(../images/background_topo.jpg) no-repeat; background-color: #191b4c; padding: 0px; height: 270px; border-bottom: #0c153d 20px solid; margin: 0px; }
	header#cabecalho div#barra figure#logo { width: 300px; position: relative; left: 0px; margin: 0px; padding: 0px; margin: auto; display: table; margin-bottom: 10px; }
	header#cabecalho div#barra figure#logo img { max-width: 300px }
	header#cabecalho div#login { position: relative; left: 0px; margin: 0px; margin: auto; display: table; border: #0c153d 2px solid; width: 265px; padding: 15px; padding-left: 20px; background: #202859; }
	
	header#cabecalho div#areaBanners { margin-top: 0px; }
		
	section#corpo  div#areaCadastro div#TableCadastro { width: 300px; }
	section#corpo  div#areaCadastro div#areaCadastroConteudo input.input2_ { padding: 5px; width: 280px; }
	section#corpo  div#areaCadastro div#areaCadastroConteudo input.input_ { padding: 5px; }

}

/* 
320px – Smartphones no formato retrato com tela pequena
***********************************************************/
@media screen and (max-width:320px){
	header#cabecalho div#barra { position: relative; background: url(../images/background_topo.jpg) no-repeat; background-color: #191b4c; padding: 0px; height: 270px; border-bottom: #0c153d 20px solid; margin: 0px; }
	header#cabecalho div#barra figure#logo {  width: 300px; position: relative; left: 0px; margin: 0px; padding: 0px; margin: auto; display: table; margin-bottom: 10px; }
	header#cabecalho div#barra figure#logo img { max-width: 300px }
	header#cabecalho div#login { position: relative; left: 0px; margin: 0px; margin: auto; display: table; border: #0c153d 2px solid; width: 265px; padding: 15px; padding-left: 20px; background: #202859; }
	
	header#cabecalho div#areaBanners { margin-top: 0px; }

	section#corpo  div#areaCadastro div#TableCadastro { width: 330px; }
	section#corpo  div#areaCadastro div#areaCadastroConteudo input.input2_ { width: 320px; }

}