/* 
1200px – Desktops, notebooks com monitores widescreen
***********************************************************/
@media screen and (max-width:1200px){


}

/* 
1000px – Desktops, notebooks com monitores widescreen
***********************************************************/
@media screen and (max-width:1040px){
	div.opcMenuHome { padding-left: 40px; }
	
	.navMenu li.opcMenu {	padding-left: 40px; }
	
}

/* 
960px – Tablets no formato paisagem e alguns monitores mais antigos
***********************************************************/
@media screen and (max-width:960px){
	nav#menu { font-size: 22px; }
	div.opcMenuHome { padding-left: 40px; }
	
	.navMenu li.opcMenuIni {	font-size: 18px; }
	.navMenu li.opcMenu {	font-size: 18px; padding-left: 40px; }

}

/* 
840px – Tablets no formato paisagem e alguns monitores mais antigos
***********************************************************/
@media screen and (max-width:840px){
	nav#menu { font-size: 20px; }
	div.opcMenuHome { padding-left: 20px; }
	header#cabecalho figure#logo { width: 300px; top: 60%; }	
	
	.navMenu li.opcMenuIni {	font-size: 18px; }
	.navMenu li.opcMenu {	font-size: 18px; padding-left: 40px; }
	
}

/* 
770px – Tablets no formato retrato, como o iPad
***********************************************************/
@media screen and (max-width:770px){
	nav#menu { font-size: 20px; }
	div.opcMenuHome { padding-left: 20px; }
	header#cabecalho figure#logo { width: 250px; top: 65%; }	
	
	#menutopo {display: none; }
	.navMenuHome {display: table; opacity: 1; }
	
	figure#logo { margin: 0px; padding: 0px; margin-top: 45px }
	
	#area-banner { margin-top: 50px }

	.navMenu { display: none; opacity: 0; }
	.navbarMenu { display: table; }
	.navbarMenu { padding-top: 5px; padding-bottom: 5px; }
	
	#areaProdutos {	padding-top: 30px; 	padding-bottom: 30px; }
	
	
	.tableCategorias { display: table; margin: auto; }
	.tableCategoriasTd { font-size: 14px; width: 170px; }
	
	article.categorias-list {  height: 200px; margin-bottom: 10px; padding-top: 5px; padding-bottom: 5px; }
	article.categorias-list figure { height: 150px; }

	div#redes-sociais { margin: auto; text-align: center; }
	
	iframe#frameMapa { width: 100%; }

}


/* 
320px – Smartphones no formato retrato com tela pequena
***********************************************************/
@media screen and (max-width:360px){
	header#cabecalho figure#logo { width: 200px; top: 80%; }	

	#logoInterno { padding-top: 40px; width: 200px; }

	#menutopo {display: none; }
	.navMenuHome {display: table; opacity: 1; }
	
	figure#logo { margin: 0px; padding: 0px; margin-top: 45px }
	
	#area-banner { margin-top: 50px }
	
	.navMenu { display: none; opacity: 0; }
	.navbarMenu { display: table; }
	.navbarMenu { padding-top: 5px; padding-bottom: 5px; }

	#areaProdutos {	padding-top: 30px; 	padding-bottom: 30px; }
	
	div#areaRodapeDados { text-align: center; }
	div#areaRodapeDados figure { margin: auto; }
	div.area-rodape-zap { margin: auto; text-align: center; padding: 20px; }
	
	.home-categorias { margin-bottom: 10px; }
	.home-categorias h2 { font-size: 16px; }
	
	.tableCategorias { display: table; margin: auto; }
	.tableCategoriasTd { font-size: 14px; width: 150px; }
	
	article.categorias-list {  height: 200px; margin-bottom: 10px; padding-top: 5px; padding-bottom: 5px; }
	article.categorias-list figure { height: 150px; }

	div#redes-sociais { margin: auto; text-align: center; }
	
	iframe#frameMapa { width: 100%; }
}