body {
  margin: 0;
  padding: 0;
  background-color: #272e40;
  height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	align-items: center;
	background: #f8f8f8;
	display: flex;
	flex-direction: column;
	height: 120px;
	justify-content: center;
}

.header > h2 {
	font-size: 52px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

.header > h3 {
	font-size: 42px;
}

.area {
	align-items: center;
	display: flex;
	flex: 1;
	height: auto;
	justify-content: center;
}

.footer {
	align-items: center;
	background: #f8f8f8;
	display: flex;
	flex-direction: column;
	font-size: 32px;
	height: 80px;
	justify-content: center;
}

.login {
	color: #272e40;
	height: 320px;
	border: 1px solid #9C9C9C;
	max-width: 600px;
	width: 100%;
}
